/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos { compatible = "zmk,combos"; };

    behaviors {
        HMR: HMR {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41>;
            hold-trigger-on-release;
        };

        HML: HML {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <38 6 30 18 31 19 7 32 20 8 33 21 9 34 22 10 35 23 11 37 36 39 40 41>;
        };

        HMLS: HMLS {
            compatible = "zmk,behavior-hold-tap";
            label = "HMLS";
            bindings = <&to>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            hold-trigger-key-positions = <39>;
            hold-trigger-on-release;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        qwerty_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp ESCAPE     &kp Q            &kp W              &kp E         &kp R       &kp T        &kp Y      &kp U       &kp I         &kp O              &kp P                &kp ESCAPE
&kp BACKSPACE  &HML LEFT_ALT A  &HML LEFT_SHIFT S  &HML LCTRL D  &HML TAB F  &kp G        &kp H      &HMR TAB J  &HMR LCTRL K  &HMR LEFT_SHIFT L  &HMR LEFT_ALT SLASH  &kp BACKSPACE
&kp DELETE     &kp Z            &kp X              &kp C         &kp V       &kp B        &kp N      &kp M       &kp COMMA     &kp DOT            &kp SEMI             &kp DELETE
                                                   &kp LEFT_GUI  &to 1       &kp SPACE    &kp ENTER  &to 2       &kp LEFT_WIN
            >;
        };

        rus_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp ESCAPE     &kp Q            &kp W              &kp E         &kp R       &mt GRAVE T    &kp Y      &kp U                 &kp I         &kp O              &kp P               &kp LEFT_BRACKET
&kp BACKSPACE  &HML LEFT_ALT A  &HML LEFT_SHIFT S  &HML LCTRL D  &HML TAB F  &kp G          &kp H      &HMR TAB J            &HMR LCTRL K  &HMR LEFT_SHIFT L  &HMR LEFT_ALT SEMI  &kp SQT
&kp DELETE     &kp Z            &kp X              &kp C         &kp V       &kp B          &kp N      &HMR RIGHT_BRACKET M  &kp COMMA     &kp DOT            &kp FSLH            &none
                                                   &kp LGUI      &to 0       &kp SPACE      &kp ENTER  &to 2                 &kp LEFT_WIN
            >;
        };

        tab_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp ESCAPE     &mt MINUS LS(EQUAL)  &mt AMPERSAND NUMBER_7    &mt ASTERISK NUMBER_8  &mt PIPE NUMBER_9   &mt ASTERISK SLASH    &kp EXCLAMATION  &kp LEFT_PARENTHESIS   &kp RIGHT_PARENTHESIS     &kp NON_US_BACKSLASH       &kp TILDE            &kp ESCAPE
&kp BACKSPACE  &kp EQUAL            &mt DOLLAR NUMBER_4       &mt PERCENT NUMBER_5   &mt CARET NUMBER_6  &kp ASTERISK          &kp UNDERSCORE   &HMR TAB LEFT_BRACKET  &HMR LCTRL RIGHT_BRACKET  &HMR LEFT_SHIFT SEMICOLON  &HMR LEFT_ALT COLON  &kp BACKSPACE
&kp DELETE     &kp NUMBER_0         &mt EXCLAMATION NUMBER_1  &mt AT_SIGN NUMBER_2   &mt HASH NUMBER_3   &kp LS(COMMA)         &kp QUESTION     &kp LEFT_BRACE         &kp RIGHT_BRACE           &kp COMMA                  &kp PERIOD           &kp DELETE
                                                              &kp LGUI               &to 0               &kp SPACE             &kp ENTER        &to 3                  &kp LEFT_WIN
            >;
        };

        num_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp ESCAPE     &kp NUMBER_1            &kp NUMBER_2              &kp NUMBER_3         &none           &none        &kp HOME   &kp PAGE_DOWN  &kp PAGE_UP    &kp END                &kp PRINTSCREEN                &kp ESCAPE
&kp BACKSPACE  &HML LEFT_ALT NUMBER_4  &HML LEFT_SHIFT NUMBER_5  &HML LCTRL NUMBER_6  &HML TAB MINUS  &none        &kp LEFT   &HMR TAB DOWN  &HMR LCTRL UP  &HMR LEFT_SHIFT RIGHT  &HMR LEFT_ALT LC(PRINTSCREEN)  &kp BACKSPACE
&kp DELETE     &kp NUMBER_7            &kp NUMBER_8              &kp NUMBER_9         &none           &none        &none      &none          &none          &none                  &kp K_MENU                     &kp DELETE
                                                                 &kp LGUI             &to 0           &kp SPACE    &kp ENTER  &to 2          &kp LEFT_GUI
            >;
        };

        control_layer {
            bindings = <
&trans      &trans        &trans        &trans        &trans        &trans          &trans  &trans  &trans  &trans  &trans  &trans
&bt BT_CLR  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans  &trans  &trans  &trans  &trans  &trans
&trans      &trans        &trans        &trans        &trans        &trans          &trans  &trans  &trans  &trans  &trans  &trans
                                        &trans        &to 3         &bootloader     &trans  &to 0   &trans
            >;
        };
    };
};
